# Build results
bin/
obj/
publish/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Visual Studio
.vs/

# Rider
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# NuGet Packages
*.nupkg
packages/

# Test results
TestResults/

# Application specific
*.log
*.macro
macros/
